<mat-card class="buttons">
  <div id="separator"></div>
  <button mat-raised-button color="primary" *ngIf="!alreadyEnter" (click)="entry()">Register Entry Hour</button>
  <button mat-raised-button color="primary" *ngIf="alreadyEnter" (click)="leave()">Register Leave Hour</button>
</mat-card>

<mat-card class="times">
  <mat-card-title>Time Registrations</mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="registrations" class="mat-elevation-z8" matSort>
      <mat-header-row *matHeaderRowDef="columnsHeader"></mat-header-row>
      <mat-row *matRowDef="let element; columns: columnsHeader;"></mat-row>

      <ng-container matColumnDef="entryHour">
        <mat-header-cell *matHeaderCellDef> Entry</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.entry.toLocaleString().split("T")[0]
        + " "
        + element.entry.toLocaleString().split("T")[1].substring(0, element.entry.toLocaleString().split("T")[1].length -7)}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="leaveHour">
        <mat-header-cell *matHeaderCellDef> Leave</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="element.leave">
            {{element.leave.toLocaleString().split("T")[0]
          + " "
          + element.leave.toLocaleString().split("T")[1].substring(0, element.leave.toLocaleString().split("T")[1].length-7)}}
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="isAdmin" (click)="update(element)"  mat-button mat-icon-button matSuffix>
            <mat-icon color="warn">mode_edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>
  </mat-card-content>
</mat-card>


<app-footer></app-footer>


