<mat-card class="buttons">
  <div id="separator"></div>
  <button mat-raised-button color="primary" (click)="entry()">Register Entry Hour</button>
  <button mat-raised-button color="primary" (click)="leave()">Register Leave Hour</button>
</mat-card>

<mat-card class="times">
  <mat-card-title>Feedbacks Reported</mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="registrations" class="mat-elevation-z8" matSort>
      <mat-header-row *matHeaderRowDef="columnsHeader"></mat-header-row>
      <mat-row *matRowDef="let element; columns: columnsHeader;"></mat-row>
      <ng-container matColumnDef="identifier">
        <mat-header-cell *matHeaderCellDef> Identifier</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.identifier}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="entryHour">
        <mat-header-cell *matHeaderCellDef> Entry</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.entryHour.toLocaleString()}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="leaveHour">
        <mat-header-cell *matHeaderCellDef> Leave</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.leaveHour.toLocaleString()}} </mat-cell>
      </ng-container>
    </mat-table>
  </mat-card-content>
</mat-card>


<app-footer></app-footer>


