<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <mat-form-field class="full-width" *ngIf="isCreate()">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="employee.name" *ngIf="isCreate()" id="name" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width" *ngIf="isCreate()">
    <mat-label>Category</mat-label>
    <input [(ngModel)]="employee.category" *ngIf="isCreate()" id="category" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width" *ngIf="isCreate()">
    <mat-label>Salary</mat-label>
    <input [(ngModel)]="employee.salary" *ngIf="isCreate()" id="salary" matInput required type="text"/>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button (click)="create()" *ngIf="isCreate()" color="primary" mat-raised-button>Create
  </button>
</mat-dialog-actions>
