.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

#request-header {
  color: goldenrod;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.viewport {
  height: 200px;
  width: 500px;
}

.item {
  height: auto;
  max-width: 300px;
}

h3 {
  width: 400px;
}
