<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title-page">Human Resources</span>
    <span class="spacer-small"></span>
    <a mat-button="" [routerLink]="['/home/employees']" class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base" aria-disabled="false">
      <span class="mat-button-wrapper">Employees</span>
    </a>

    <span class="spacer-small"></span>
    <a mat-button="" [routerLink]="['/home/time-registration']" class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base" aria-disabled="false">
      <span class="mat-button-wrapper">Time registration</span>
    </a>

    <span class="spacer"></span>
    <button mat-icon-button class="reportHr" [routerLink]="['/home/feedback']" aria-label="icon-button with share icon">
      <mat-icon>email</mat-icon>
    </button>
  </mat-toolbar>


</p>
<router-outlet></router-outlet>
